.btn.btn-secondary {
  background: $grayButtonBackOnWhite;
  padding: 7px 6px;
  font-size: 14px;
  &:hover {
    background: $greenBackForm;
    border-color: $greenBackForm;
  }
}
a.btn.btn-success {
  color: $white;
  &:hover {
    color: $white;
  }
}
.btn.btn-success {
  background: $greenButton;
  padding: 7px 6px;
  font-size: 14px;
  border-color: $greenButton;
  &:hover {
    background: $greenButtonHover;
    border-color: $greenButtonHover;
    box-shadow: 0 4px 5px rgba(0,0,0,0.07);
  }
}
.btn.btn-danger {
  padding: 7px 6px;
  font-size: 14px;
  &:hover {
    box-shadow: 0 4px 5px rgba(0,0,0,0.07);
  }
}
.btn.btn-outline-secondary {
  color: $grayButtonTextOnGray;
  background-color: transparent;
  background-image: none;
  border-color: $grayButtonBorderOnGray;
  font-size: 14px;
  padding: 7px 6px;
  &:hover {
    color: #fff;
    background-color: $grayButtonBackHoverOnGray;
    border-color: $grayButtonBorderOnGray;
  }
  &_for-blocks {
    color: $grayButtonTextOnWhite;
    border-color: $grayButtonBorderOnWhite;
    font-weight: 600;
    &:hover {
      color: $grayButtonTextOnWhite;
      background-color: $grayButtonBackHoverOnWhite;
      border-color: $grayButtonBorderOnWhite;
      box-shadow: 0 4px 5px rgba(0,0,0,0.07);
    }
  }
}
.btn.btn-warning {
  color: $whiteTextButton;
  background: $orangeButton;
  border-color: $orangeButton;
  font-size: 14px;
  padding: 7px 6px;
  &:hover {
    color: #fff;
    background-color: $black20;
    border-color: $black20;
  }
}