include ../utils/mixins
block params

doctype html
html(lang="ru-RU")
  head
    include ../blocks/main/favicon
    include ../blocks/main/service
    include ../blocks/main/meta
    include ../blocks/main/style
    include ../blocks/main/script    
  body(class=pageClass)
    .wrapper
      include ../modules/headers/header-1
      .content
        block content
      include ../modules/footers/footer-1

    //include ../blocks/main/script-foot-prod
    include ../blocks/main/script-foot-dev
    
    include ../blocks/main/test-js-data

    block script