.requisites {
  &__image {
    margin-bottom: 20px;
  }
  &__item {

  }
  &__title {
    font-weight: 600;
    font-size: 16px;
  }
  &__value {
    font-size: 16px;
  }
}
.kak-zabronirovat {
  &__desc-image {

  }
}