.white-block.white-block_30.catalog-detail-action.mt-3
  .row
    .col-12.catalog-detail-action__title-block
      .h2 Спецпредложения

    each numPhoto in [1, 2]
      .col-12.catalog-detail-action__item
        .row.position-static
          a.stretched-link(href="#")
          .col-12
            - path = "static/images/general/action-hata-" + numPhoto + ".jpg"
            .catalog-detail-action__image-wrap
              img.img-fluid.catalog-detail-action__image(src=path)

          .catalog-detail-action__info
            .col-12
              .h3.catalog-detail-action__title-action Домик у моря

            .col-12
              .catalog-detail-action__desc
                | г. Ялта, кондиционер, 4 спальных места, беседка, мангал, песчаный пляж, завтраки

            .col-12
              .catalog-detail-action__price
                span.catalog-detail-action__price_value 2 200
                span.catalog-detail-action__price_rubl.rubl.pl-1 q
                span.catalog-detail-action__price_type  / сутки