.fast-links-wrap.container
  .fast-links.white-block.mt-4.mb-4
    .row

      .fast-links__item.col-12.col-md-4.d-flex.flex-column.flex-lg-row
        .fast-links__image-wrap
          .fast-links__image.fast-links__image_section-1
        .fast-links__data
          .fast-links__title.h3 Снять посуточно
          .fast-links__links
            .fast-links__link-item
              a.fast-links__link(href='#' title='Квартиры посуточно')
                span.fast-links__link-text Квартиры посуточно
              span.fast-links__count &nbsp;50
            .fast-links__link-item
              a.fast-links__link(href='#' title='Коттеджи на сутки')
                span.fast-links__link-text Коттеджи на сутки
              span.fast-links__count &nbsp;120
            .fast-links__link-item
              a.fast-links__link(href='#' title='Комнаты на сутки')
                span.fast-links__link-text Комнаты на сутки
              span.fast-links__count &nbsp;35

      .fast-links__item.col-12.col-md-4.d-flex.flex-column.flex-lg-row
        .fast-links__image-wrap
          .fast-links__image.fast-links__image_section-2
        .fast-links__data
          .fast-links__title.h3 Снять на длительный срок
          .fast-links__links
            .fast-links__link-item
              a.fast-links__link(href='#' title='1-комнатные')
                span.fast-links__link-text 1-комнатные
              span.fast-links__count &nbsp;120
            .fast-links__link-item
              a.fast-links__link(href='#' title='2-комнатные')
                span.fast-links__link-text 2-комнатные
              span.fast-links__count &nbsp;60
            .fast-links__link-item
              a.fast-links__link(href='#' title='3-комнатные')
                span.fast-links__link-text 3-комнатные
              span.fast-links__count &nbsp;25
            .fast-links__link-item
              a.fast-links__link(href='#' title='Комнаты')
                span.fast-links__link-text Комнаты
              span.fast-links__count &nbsp;5

      .fast-links__item.col-12.col-md-4.d-flex.flex-column.flex-lg-row
        .fast-links__image-wrap
          .fast-links__image.fast-links__image_section-3
        .fast-links__data
          .fast-links__title.h3 Коммерческая недвиж.
          .fast-links__links
            .fast-links__link-item
              a.fast-links__link(href='#' title='Арендовать офис')
                span.fast-links__link-text Арендовать офис
              span.fast-links__count &nbsp;10
            .fast-links__link-item
              a.fast-links__link(href='#' title='Арендовать помещение')
                span.fast-links__link-text Арендовать помещение
              span.fast-links__count &nbsp;8
            .fast-links__link-item
              a.fast-links__link(href='#' title='Арендовать торговую площадь')
                span.fast-links__link-text Арендовать торгов. площ
              span.fast-links__count &nbsp;5
            .fast-links__link-item
              a.fast-links__link(href='#' title='Арендовать гараж')
                span.fast-links__link-text Арендовать гараж
              span.fast-links__count &nbsp;20