- imageObjects = ['image-list-mini-1.jpg', 'image-list-mini-2.jpg', 'image-list-mini-3.jpg', 'image-list-mini-4.jpg', 'image-list-mini-5.jpg'];
- imageObjects2 = ['image-list-mini-4.jpg', 'image-list-mini-5.jpg'];

.alert.alert-warning.alert-dismissible.fade.show.mt-3(role='alert')
  strong Holy guacamole!
  |  You should check in on some of those fields below.
  button.close(type='button', data-dismiss='alert', aria-label='Close')
    span(aria-hidden='true') ×

- counter = 0;
each imgVar in imageObjects
  - counter++;
  .white-block.my-4
    .catalog-list-item
      .row.flex-md-row
        .col-12.col-md-5.col-lg-3
          .catalog-list-item__section-image-slider.js-catalog-list-item__section-image-slider
            - path = "static/images/general/" + imgVar
            .catalog-list-item__slide.catalog-list-item__js-slide
              img.img-fluid(data-lazy=path alt="")
            each imgVar2 in imageObjects2
              - path = "static/images/general/" + imgVar2
              .catalog-list-item__slide.catalog-list-item__js-slide
                img.img-fluid(data-lazy=path alt="")
          .catalog-list-item__slider-paging-wrap-info
            span.catalog-list-item__slider-paging-info.js-catalog-list-item__slider-paging-info
        .col-12.col-md-7.col-lg-9.position-relative
          a.stretched-link(href="#")
          .catalog-list-item__section-data.row
            .col-12.col-md-12.col-lg-7.col-xl-5.order-0.order-xl-1
              h2.h2.catalog-list-item__title
                a(href='detail.html').catalog-list-item__title-link.h2
                  span 3-комн. кв.,
                  span  70 м
                    sup 2
                  span , 2/3 этаж
                  //span , г. Ялта, ул. Пушкинская, д. 5

              .catalog-list-item__address
                span г. Ялта, ул. Пушкинская, д. 5

              //.catalog-list-item__param.d-none.d-xl-block
                span Бассейн:
                span.catalog-list-item__param_value  есть

            .col-12.col-lg-8.col-xl-3.order-1
              .d-flex.catalog-list-item__params.flex-column.flex-md-row.flex-xl-column.justify-content-start
                .catalog-list-item__param.d-block.d-xl-none
                  span Бассейн:
                  span.catalog-list-item__param_value  есть
                .catalog-list-item__param
                  span Парковка:
                  span.catalog-list-item__param_value  есть
                .catalog-list-item__param
                  span Наличие дворика:
                  span.catalog-list-item__param_value  есть

            //.col-12.col-lg-4.order-1.d-none.d-lg-block.d-xl-none
              .catalog-list-item__price._total.text-lg-right
                span.catalog-list-item__price_title Итого:
                span.catalog-list-item__price_value  52 500
                span.rubl.catalog-list-item__price_rubl.pl-1 q
                //span.catalog-list-item__price_type  за период

            .catalog-list-item__price-wrap.col-12.col-md-12.col-lg-5.col-xl-4.order-0.order-xl-1.d-md-flex.justify-content-md-between.d-lg-block
              
              .catalog-list-item__price.text-lg-right
                //span.catalog-list-item__price_title Ср. цена:
                span.catalog-list-item__price_value  9 200
                span.rubl.catalog-list-item__price_rubl.pl-1 q
                span.catalog-list-item__price_type  / сутки
              
              //.catalog-list-item__price._total.text-lg-right.d-block.d-lg-none.d-xl-block
                span.catalog-list-item__price_title Итого:
                span.catalog-list-item__price_value  52 500
                span.rubl.catalog-list-item__price_rubl.pl-1 q
                span.catalog-list-item__price_type.d-inline.d-md-none.d-lg-inline  за период
              
              .catalog-list-item__message-arrow-to-date
                span Актуальная стоимость при выборе дат в фильтре

            .catalog-list-item__desc.d-none.d-lg-block.col-12.order-1
              div
                p
                  | Функция многих переменных изоморфна. Теорема Ферма небезынтересно&nbsp;
                  a(href='#') продуцирует положительный
                  |  критерий интегрируемости. В соответствии с законом больших чисел, геодезическая линия создает интеграл по поверхности. Дифференциальное уравнение определяет интеграл от функции  линия создает критерий интегрируемости. В соответствии с законом больших чисел, геодезическая линия создает интеграл критерий интегрируемости. В соответствии с законом больших чисел, геодезическая линия создает интеграл...

            .col-12.col-lg-6.order-1
              .catalog-list-item__buttons.row
                .col-12.col-md-6
                  a.w-100.btn.btn-success(href='/detail.html') Забронировать
                .col-12.col-md-6.pl-md-0
                  button.w-100.btn.btn-outline-secondary.btn-outline-secondary_for-blocks(data-toggle="modal" data-target='#messageModal') Написать

            .col-12.col-lg-5.order-1.offset-lg-1.justify-content-end
              .catalog-list-item__date-info.text-right Добавлено: 3 недели назад / id: 245