.container
  h1.h1 Список товаров

.seo-block.container
  h2.h2 Тема: «Открой сомкнуты негой взоры»
  .text-content.white-block.my-5
    .row
      .col-12
        h2.h2 Тема: «Навстречу северной Авроры»
        p
          | Стихотворение «Зимнее утро» — блестящее лирическое произведение Пушкина. Оно было написано в 1829 г., когда поэт уже был освобожден из ссылки.&nbsp;
          a(href='#') ссылка
          |  Стихотворения начинается строкой, известной практически каждому: «Мороз и солнце; день чудесный!». С первых строк автор создает волшебную картину ясного зимнего дня. Лирический герой обращается с приветствием к возлюбленной — «другу прелестному». Удивительное преображение природы, произошедшее за ночь, раскрывается с помощью резкого противопоставления: «вьюга злилась», «мгла носилась» — «ель зеленеет», «речка блестит». Перемены в природе, по мнению поэта, обязательно повлияют на настроение человека. Он предлагает своей «печальной красавице» посмотреть в окно и ощутить великолепие утреннего пейзажа.