extends template/main

block params
  - var title = 'Аренда автомобиля'
  - var pageClass = 'cars-list-page'

block content
  include ./modules/navigation/breadcrumb
  .container.catalog-list.mb-5
    h1.h1 Прокат автомобилей в Ялте без водителя

    .text-content.white-block.my-4
      .row
        .col-12
          h2.h2 Автомобили для аренды от Арендамастер.рф

          p Услуга прокат авто Ялта без водителя становится все популярнее и популярнее. Наш сайт предлагает прокат авто в Ялте только от проверенных компаний, предоставляющих машины в аренду по самым оптимальным ценам.

          p Для того чтобы воспользоваться услугой по прокату авто в Ялте без водителя, достаточно просто выбрать одно из актуальных предложений (ниже) и забронировать его нажав на соответствующую кнопку. Компании,  с которыми мы сотрудничаем, предлагают в аренду машины различных ценовых категорий. Поэтому подобрать наиболее подходящий во всех отношениях вариант не составляет никакого труда.

          p Прокатом авто в Омске без водителя посредством нашего сайта воспользоваться легко и просто. Это позволит Вам арендовать отличный автомобиль в самые короткие сроки.  Тем, кому необходим прокат авто Крыму могут заказать обратный звонок или позвонить по телефону
            a(href="tel:+79788376377")  +7 (978) 837-63-77

    include ./modules/main/car