extends template/main

block params
  - var title = 'Контакты'
  - var pageClass = 'contact-page'

block content
  include ./modules/navigation/breadcrumb
  .container.catalog-list.mb-5
    h1.h1 Контакты

    .text-content.white-block.my-4.contact
      .row
        .col-12.col-md-6.col-lg-4.contact-items
          .h2 Компания «Арендамастер»
          .company-name.mb-4 ИП Недовба Иван Сергеевич

          .contact-item
            span.contact-item__label Адрес:
            span.contact-item__value  г. Ялта

          .contact-item
            span.contact-item__label Телефон (Иван):
            span.contact-item__value
              a(href="tel:+79788376377")  +7 (978) 837-63-77

          .contact-item
            span.contact-item__label WhatsApp:
            span.contact-item__value
              a(href="https://api.whatsapp.com/send?phone=+79788376377" target="_blank")  открыть чат

          .contact-item
            span.contact-item__label E-mail:
            span.contact-item__value
              a(href="mailto:+arendamaster@inbox.ru")  arendamaster@inbox.ru

        .col-12.col-md-6.col-lg-8.contact__image-yalta
          img.img-fluid(src='static/images/general/yalta-i-love.jpg', alt='Ялта')

        .col-12.mt-md-3.mt-lg-0
          .h2.contact__map-title Карта Ялты

        .col-12
          .contact__location-map#js-detail-yamap
