extends template/main

block params
  - var title = 'Детальная новость'
  - var pageClass = 'detail-post'

block content

  include ./modules/navigation/breadcrumb

  .container
    h1.h1 Как забронировать

    .text-content.white-block.my-4
      .row.kak-zabronirovat
        .col-12.col-md-6
          h2 Как забронировать подходящий вариант, на интересующие Вас даты?
          .kak-zabronirovat__desc-image Перейдите в нужный вам раздел и воспользуйтесь фильтром. В фильтре вы можете указать количество комнат, даты заезда и отъезда, стоимость за сутки и другие параметры. После этого нажмине на кнопку НАЙТИ. После того как фильтр сработает и страница перезагрузится, нажмине на понравившийся объект. После этого Вы перейдёте на детальную страницу объекта.
          .kak-zabronirovat__image.mt-3  
            img.d-none.d-md-block.img-thumbnail(src='static/images/general/kak-zabronirovat-01.jpg', alt='Как забронировать инструкция')
            img.d-md-none.img-thumbnail(src='static/images/general/kak-zabronirovat-02.jpg', alt='Как забронировать инструкция')

        .col-12.col-md-6.mt-4
          .kak-zabronirovat__desc-image На детальной странице, внимательно посмотрите объект более детально (фото и все параметры). Посмотрите правильно ли выставлены даты заезда отъезда и верно ли посчитана стоимость проживания за весь период, если нет то повторно укажите даты заезда и отъезда. Цена должна будет пересчитаться. 
          .kak-zabronirovat__desc-image.pt-2 Если все верно то укажите количество гостей (взорослых, детей и младенцев) и нажмите на кнопку ЗАБРОНИРОВАТЬ или НАПИСАТЬ. После этого в форме заполните своё имя, телефон и email по желанию. Нажмите на кнопку ОТПРАВИТЬ. Через некоторое время с Вами свяжется наш менеджер.
          .kak-zabronirovat__image.mt-3  
            img.d-none.d-md-block.img-thumbnail(src='static/images/general/kak-zabronirovat-03.jpg', alt='Как забронировать инструкция')
            img.d-md-none.img-thumbnail(src='static/images/general/kak-zabronirovat-04.jpg', alt='Как забронировать инструкция')

        .col-12.col-md-12.mt-4
          .kak-zabronirovat__desc-image Вы можете оставить заявку на бронирование под выбранным объектом или просто написать SMS или сообщение в Viber, WatsApp, Telegram по номеру указанному на сайте. Мы отправим Вам свои реквизиты для предоплаты. 
          .kak-zabronirovat__desc-image.pt-2 В качестве предоплаты необходима сумма не менее 10% от общей стоимости аренды, кратная стоимости одних суток
          .kak-zabronirovat__desc-image.pt-2 
            span Например:
            ul
              li Бронь на 9 дней - предоплата 1 день.
              li Бронь на 11 дней - предоплата 2 дня. 
            b После оплаты Вы получаете подтверждение брони и данный объект помечается забронированным на сайте