extends template/main

block params
  - var title = 'Детальная новость'
  - var pageClass = 'detail-post'

block content

  include ./modules/navigation/breadcrumb

  .container
    h1.h1 Как оплатить

    .text-content.white-block.my-4
      .row.kak-oplatit
        .col-12.col-md-5.col-lg-4.kak-oplatit__image.mb-2
          img.img-thumbnail(src='static/images/general/keys.jpg', alt='Оплата')
        .col-12.col-md-7.col-lg-8
          .kak-oplatit__item
            .kak-oplatit__text Оплата производится в день заселения, в размере 100% стоимости аренды, удобным для Вас способом (наличный, безналичный расчет).
            .kak-oplatit__text Для командировочных гостей предоставляются отчетные документы