extends template/main

block params
  - var title = 'Список разделов'
  - var pageClass = 'sections-page'

block content
  include ./modules/filters/inner
  include ./modules/navigation/breadcrumb
  .container.mb-5
    .row
      .col-12
        h1.h1 Аренда жилья в Ялте
    
    .text-content.white-block.my-4
      .row
        .col-12
          h2.h2 Квартиры посуточно или на длительный срок в Ялте, а также коммерческая недвижимость от Арендамастер.рф

          p Каждый год Крым посещает более 5 миллионов туристов, перед каждым из них стоит задача найти жильев в Крыму. Наш сайт был создан специально для этого. Арендамастер.рф поможет снять квартуру по суточно в Ялте с максимальными удобствами и по минимальной цене. На сайте более 600 квартир, номеров и домов с реальными ценами и напрямую от хозяев без наценок и посредников. Забронировать квартиру можно прямо на сайте и на нужные для вас даты. Также можно снять квартиру на длительный срок или помещение под офис или торговлю. 

          p Тем, кому необходима помощь в выборе квартиры или номера в отеле,  могут заказать обратный звонок или позвонить по телефону. Наш специалист сделает все возможное чтобы Вы остались довольны 
            a(href="tel:+79788376377")  +7 (978) 837-63-77
    
    include ./modules/main/sections
