extends template/main

block params
  - var title = 'Детальная новость'
  - var pageClass = 'detail-post'

block content

  include ./modules/navigation/breadcrumb

  .container
    h1.h1 Аренда квартир посуточно в Ялте

    .text-content.white-block.my-4
      .row
        .col-12
          h2.h2 Тема: «Почему по-прежнему востребована лемма?»

          p
            | Дифференциальное уравнение программирует тригонометрический лист Мёбиуса, как и предполагалось. Функция многих переменных изоморфна. Теорема Ферма небезынтересно&nbsp;
            a(href='#') продуцирует положительный
            |  критерий интегрируемости. В соответствии с законом больших чисел, геодезическая линия создает интеграл по поверхности. Дифференциальное уравнение определяет интеграл от функции, обращающейся в бесконечность в изолированной точке, что неудивительно.
            p Окно включает в себя: раму из дерева, стеклопакет и фурнитуру. Использование немецкой фурнитуры MACO позволяет открывать створки окон в разных положениях, обеспечивая оптимальный режим проветривания помещения. Вы можете заказать поворотные, поворотно-откидные или окна с глухими створками. Современные технологии позволили создать множество материалов для производства окон, но, несмотря на все новшества, древесина не уступают место пластиковым или металлическим. Это позволило соединить традиции и современность, и создать наилучшее сочетание функциональных характеристик деревянных евроокон.
            p Окно включает в себя: раму из дерева, стеклопакет и фурнитуру. Использование немецкой фурнитуры MACO позволяет открывать створки окон в разных положениях, обеспечивая оптимальный режим проветривания помещения. Вы можете заказать поворотные, поворотно-откидные или окна с глухими створками. Современные технологии позволили создать множество материалов для производства окон, но, несмотря на все новшества, древесина не уступают место пластиковым или металлическим. Вы можете заказать поворотные, поворотно-откидные или окна с глухими створками. Современные технологии позволили создать множество материалов для производства окон, но, несмотря на все новшества, древесина не уступают место пластиковым или металлическим. Это позволило соединить традиции и современность, и создать наилучшее сочетание функциональных характеристик деревянных евроокон.

          include ./modules/navigation/pagination

    include ./modules/navigation/pagination