extends template/main

block params
  - var title = 'Трансфер (такси) по крыму'
  - var pageClass = 'transfer-page'

block content
  include ./modules/navigation/breadcrumb
  .container.catalog-list.mb-5
    h1.h1 Трансфер (такси) по крыму

    .text-content.white-block.my-4.transfer
      .row
        .col-12
          .h2 Такси по крыму - Цены

        .col-12
          table.table.table-hover.table-sm.no-more-tables
            thead.thead-dark.thead-orange
              tr
                th(scope='col') #
                th(scope='col') Тариф
                th(scope='col') Маршрут
                th(scope='col') Кол-во мест
                th(scope='col') Стоимость
            tbody
              tr
                th(scope='row') 1
                td(data-title="Тариф") Стандарт
                td(data-title="Маршрут") Аэропорт-Ялта (в любом направлении)
                td(data-title="Кол-во мест") до 4-х мест
                td(data-title="Стоимость") 2 000
                  span.rubl.pl-1 q
              tr
                th(scope='row') 2
                td(data-title="Тариф") Комфорт
                td(data-title="Маршрут") Аэропорт-Ялта (в любом направлении)
                td(data-title="Кол-во мест") до 4-х мест
                td(data-title="Стоимость") 2 000
                  span.rubl.pl-1 q
              tr
                th(scope='row') 3
                td(data-title="Тариф") Бизнес
                td(data-title="Маршрут") Аэропорт-Ялта (в любом направлении)
                td(data-title="Кол-во мест") до 3-х мест
                td(data-title="Стоимость") 4 000
                  span.rubl.pl-1 q
              tr
                th(scope='row') 4
                td(data-title="Тариф") Представительский
                td(data-title="Маршрут") Аэропорт-Ялта (в любом направлении)
                td(data-title="Кол-во мест") до 3-х мест
                td(data-title="Стоимость") 15 000
                  span.rubl.pl-1 q
              tr
                th(scope='row') 5
                td(data-title="Тариф") Минивен
                td(data-title="Маршрут") Аэропорт-Ялта (в любом направлении)
                td(data-title="Кол-во мест") до 7 мест
                td(data-title="Стоимость") 3 000
                  span.rubl.pl-1 q
              tr
                th(scope='row') 6
                td(data-title="Тариф") Микроавтобус
                td(data-title="Маршрут") Аэропорт-Ялта (в любом направлении)
                td(data-title="Кол-во мест") до 20 мест
                td(data-title="Стоимость") 7 500
                  span.rubl.pl-1 q
              tr
                th(scope='row') 7
                td(data-title="Тариф") Автобус средний
                td(data-title="Маршрут") Аэропорт-Ялта (в любом направлении)
                td(data-title="Кол-во мест") до 35 мест
                td(data-title="Стоимость") 15 000
                  span.rubl.pl-1 q
              tr
                th(scope='row') 8
                td(data-title="Тариф") Автобус рейсовый
                td(data-title="Маршрут") Аэропорт-Ялта (в любом направлении)
                td(data-title="Кол-во мест") до 54 места
                td(data-title="Стоимость") 20 000
                  span.rubl.pl-1 q

        .col-12.mb-2.mt-4
          .h2 Расшифровка тарифов

        .col-12
          table.table.table-hover.table-sm.no-more-tables
            thead.thead-dark.thead-orange
              tr
                th(scope='col') #
                th(scope='col') Тариф
                th(scope='col') Пояснение
            tbody
              tr
                th(scope='row') 1
                td(data-title="Тариф") Стандарт
                td(data-title="Пояснение") Автомобили класса Volkswagen Polo/Chevrolet Lacetti
              tr
                th(scope='row') 2
                td(data-title="Тариф") Комфорт
                td(data-title="Пояснение") Автомобили класса Skoda Octavia
              tr
                th(scope='row') 3
                td(data-title="Тариф") Бизнес
                td(data-title="Пояснение") Mercedes Е-class/Toyota Camry
              tr
                th(scope='row') 4
                td(data-title="Тариф") Представительский
                td(data-title="Пояснение") Mercedes GL-class, S-class
              tr
                th(scope='row') 5
                td(data-title="Тариф") Минивен
                td(data-title="Пояснение") Mercedes VITO, Hyundai Starex и пр.
              tr
                th(scope='row') 6
                td(data-title="Тариф") Микроавтобус
                td(data-title="Пояснение") Mercedes Sprinter, Volkswagen Crafter и пр.
              tr
                th(scope='row') 7
                td(data-title="Тариф") Автобус средний
                td(data-title="Пояснение") Higer/Man
              tr
                th(scope='row') 8
                td(data-title="Тариф") Автобус рейсовый
                td(data-title="Пояснение") Man/Mercedes

        .col-12.mb-2.mt-4
          .transfer__text-content-bottom.mb-3 Арендамастер предлагает проверенного, безопасного перевозчика по Крыму. Большой выбор автомобилей различного класса и вместимости. Время подачи машины в течении 60 минут, к аэропорту - бесплатно. Представленный перевозчик аккредитован и проверен. Желательна предварительное бронирование транспорта.
          .transfer__message-order-content-bottom Заказать такси Вы можете по телефону
            a(href="tel:+79788376377")  +7 (978) 837-63-77