// seo meta
title #{title}
<!--[if IE]>
meta(http-equiv='X-UA-Compatible', content="IE = edge")
<![endif]-->
meta(name="viewport" content="width=device-width,initial-scale=1")
meta(name="keywords" content="")