// Данные для тестирования подсветки забронированных дат в датапикере в форме бронирования на деталке    
script.
  window.testData1 = $.parseJSON('{"key":"1","key2":"2"}');
  window.testData2 = $.parseJSON('["1","2"]');