.container
  .breadcrumb-wrap
    nav(aria-label='breadcrumb')
      ol.breadcrumb
        li.breadcrumb-item.breadcrumb__item
          a(class='breadcrumb__link' href='#') Главная
        li.breadcrumb-item.breadcrumb__item
          a(class='breadcrumb__link' href='#') Аренда
        li.breadcrumb-item.breadcrumb__item.active(aria-current='page') Аренда посуточная