nav.pagination-wrap(aria-label='Page navigation example')
	ul.pagination.justify-content-center
		li.page-item.page-prev
			a.page-link(href='#', aria-label='Previous')
				span(aria-hidden='true') «
		li.page-item
			a.page-link(href='#') 1
		li.page-item
			a.page-link.active(href='#') 2
		li.page-item
			a.page-link(href='#') 3
		li.page-item.page-next
			a.page-link(href='#', aria-label='Next')
				span(aria-hidden='true') »